In [1]:
import pandas as pd

In [2]:
data=pd.read_csv('C:\\Data Science\\Data Sets\\hello.csv' , encoding='cp1252')

C:\Users\xafal\AppData\Local\Temp\ipykernel_7196\2903543334.py:1: DtypeWarning: Columns (6,7,28) have mixed types. Specify dtype option on import or set low_memory=False.
  data=pd.read_csv('C:\\Data Science\\Data Sets\\hello.csv' , encoding='cp1252')

In [3]:
data.columns

Index(['Event.Id', 'Investigation.Type', 'Accident.Number', 'Event.Date',
       'Location', 'Country', 'Latitude', 'Longitude', 'Airport.Code',
       'Airport.Name', 'Injury.Severity', 'Aircraft.damage',
       'Aircraft.Category', 'Registration.Number', 'Make', 'Model',
       'Amateur.Built', 'Number.of.Engines', 'Engine.Type', 'FAR.Description',
       'Schedule', 'Purpose.of.flight', 'Air.carrier', 'Total.Fatal.Injuries',
       'Total.Serious.Injuries', 'Total.Minor.Injuries', 'Total.Uninjured',
       'Weather.Condition', 'Broad.phase.of.flight', 'Report.Status',
       'Publication.Date'],
      dtype='object')

In [4]:
data.head(5)

,Event.Id,Investigation.Type,Accident.Number,Event.Date,Location,Country,Latitude,Longitude,Airport.Code,Airport.Name,...,Purpose.of.flight,Air.carrier,Total.Fatal.Injuries,Total.Serious.Injuries,Total.Minor.Injuries,Total.Uninjured,Weather.Condition,Broad.phase.of.flight,Report.Status,Publication.Date
0,20001218X45444,Accident,SEA87LA080,10/24/1948,"MOOSE CREEK, ID",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,2.0,0.0,0.0,0.0,UNK,Cruise,Probable Cause,NaN
1,20001218X45447,Accident,LAX94LA336,7/19/1962,"BRIDGEPORT, CA",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,4.0,0.0,0.0,0.0,UNK,Unknown,Probable Cause,19-09-1996
2,20061025X01555,Accident,NYC07LA005,8/30/1974,"Saltville, VA",United States,36.922223,-81.878056,NaN,NaN,...,Personal,NaN,3.0,NaN,NaN,NaN,IMC,Cruise,Probable Cause,26-02-2007
3,20001218X45448,Accident,LAX96LA321,6/19/1977,"EUREKA, CA",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,2.0,0.0,0.0,0.0,IMC,Cruise,Probable Cause,12/9/2000
4,20041105X01764,Accident,CHI79FA064,8/2/1979,"Canton, OH",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,1.0,2.0,NaN,0.0,VMC,Approach,Probable Cause,16-04-1980

In [5]:
data.tail(5)

,Event.Id,Investigation.Type,Accident.Number,Event.Date,Location,Country,Latitude,Longitude,Airport.Code,Airport.Name,...,Purpose.of.flight,Air.carrier,Total.Fatal.Injuries,Total.Serious.Injuries,Total.Minor.Injuries,Total.Uninjured,Weather.Condition,Broad.phase.of.flight,Report.Status,Publication.Date
88884,2.02212E+13,Accident,ERA23LA093,12/26/2022,"Annapolis, MD",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,0.0,1.0,0.0,0.0,NaN,NaN,NaN,29-12-2022
88885,2.02212E+13,Accident,ERA23LA095,12/26/2022,"Hampton, NH",United States,NaN,NaN,NaN,NaN,...,NaN,NaN,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN
88886,2.02212E+13,Accident,WPR23LA075,12/26/2022,"Payson, AZ",United States,341525N,1112021W,PAN,PAYSON,...,Personal,NaN,0.0,0.0,0.0,1.0,VMC,NaN,NaN,27-12-2022
88887,2.02212E+13,Accident,WPR23LA076,12/26/2022,"Morgan, UT",United States,NaN,NaN,NaN,NaN,...,Personal,MC CESSNA 210N LLC,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN
88888,2.02212E+13,Accident,ERA23LA097,12/29/2022,"Athens, GA",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,0.0,1.0,0.0,1.0,NaN,NaN,NaN,30-12-2022

In [6]:
data.sample(5)

,Event.Id,Investigation.Type,Accident.Number,Event.Date,Location,Country,Latitude,Longitude,Airport.Code,Airport.Name,...,Purpose.of.flight,Air.carrier,Total.Fatal.Injuries,Total.Serious.Injuries,Total.Minor.Injuries,Total.Uninjured,Weather.Condition,Broad.phase.of.flight,Report.Status,Publication.Date
12212,20001214X36972,Accident,ATL85FKG07,7/7/1985,"SYLACAUGA, AL",United States,NaN,NaN,SCD,LEE MERKLE FLD,...,Personal,NaN,0.0,1.0,0.0,0.0,VMC,Takeoff,Probable Cause,NaN
43499,20001211X09657,Incident,DCA99WA029,3/8/1998,"MANCHESTER, United Kingdom",United Kingdom,NaN,NaN,NaN,NaN,...,Unknown,NaN,NaN,NaN,NaN,253.0,UNK,NaN,Foreign,NaN
27582,20001212X16524,Incident,ANC91IA037,3/18/1991,"SHAGELUK, AK",United States,NaN,NaN,SHX,SHAGELUK,...,Unknown,(dba: F.s. Air Service),0.0,0.0,0.0,2.0,VMC,Landing,Probable Cause,3/5/1993
35753,20001206X01955,Accident,BFO94LA128,8/9/1994,"LAUREL, MD",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,0.0,1.0,0.0,0.0,VMC,Approach,Probable Cause,13-03-1995
60594,20060602X00677,Accident,SEA06CA097,5/5/2006,"COEUR D'ALENE, ID",United States,47.774167,-116.819723,COE,Coeur d'Alene Air Terminal,...,Personal,NaN,NaN,NaN,NaN,1.0,VMC,Landing,Probable Cause,29-08-2006

In [7]:
data.describe()

,Number.of.Engines,Total.Fatal.Injuries,Total.Serious.Injuries,Total.Minor.Injuries,Total.Uninjured
count,82805.000000,77488.000000,76379.000000,76956.000000,82977.000000
mean,1.146585,0.647855,0.279881,0.357061,5.325440
std,0.446510,5.485960,1.544084,2.235625,27.913634
min,0.000000,0.000000,0.000000,0.000000,0.000000
25%,1.000000,0.000000,0.000000,0.000000,0.000000
50%,1.000000,0.000000,0.000000,0.000000,1.000000
75%,1.000000,0.000000,0.000000,0.000000,2.000000
max,8.000000,349.000000,161.000000,380.000000,699.000000

In [8]:
data

,Event.Id,Investigation.Type,Accident.Number,Event.Date,Location,Country,Latitude,Longitude,Airport.Code,Airport.Name,...,Purpose.of.flight,Air.carrier,Total.Fatal.Injuries,Total.Serious.Injuries,Total.Minor.Injuries,Total.Uninjured,Weather.Condition,Broad.phase.of.flight,Report.Status,Publication.Date
0,20001218X45444,Accident,SEA87LA080,10/24/1948,"MOOSE CREEK, ID",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,2.0,0.0,0.0,0.0,UNK,Cruise,Probable Cause,NaN
1,20001218X45447,Accident,LAX94LA336,7/19/1962,"BRIDGEPORT, CA",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,4.0,0.0,0.0,0.0,UNK,Unknown,Probable Cause,19-09-1996
2,20061025X01555,Accident,NYC07LA005,8/30/1974,"Saltville, VA",United States,36.922223,-81.878056,NaN,NaN,...,Personal,NaN,3.0,NaN,NaN,NaN,IMC,Cruise,Probable Cause,26-02-2007
3,20001218X45448,Accident,LAX96LA321,6/19/1977,"EUREKA, CA",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,2.0,0.0,0.0,0.0,IMC,Cruise,Probable Cause,12/9/2000
4,20041105X01764,Accident,CHI79FA064,8/2/1979,"Canton, OH",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,1.0,2.0,NaN,0.0,VMC,Approach,Probable Cause,16-04-1980
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
88884,2.02212E+13,Accident,ERA23LA093,12/26/2022,"Annapolis, MD",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,0.0,1.0,0.0,0.0,NaN,NaN,NaN,29-12-2022
88885,2.02212E+13,Accident,ERA23LA095,12/26/2022,"Hampton, NH",United States,NaN,NaN,NaN,NaN,...,NaN,NaN,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN
88886,2.02212E+13,Accident,WPR23LA075,12/26/2022,"Payson, AZ",United States,341525N,1112021W,PAN,PAYSON,...,Personal,NaN,0.0,0.0,0.0,1.0,VMC,NaN,NaN,27-12-2022
88887,2.02212E+13,Accident,WPR23LA076,12/26/2022,"Morgan, UT",United States,NaN,NaN,NaN,NaN,...,Personal,MC CESSNA 210N LLC,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN
88888,2.02212E+13,Accident,ERA23LA097,12/29/2022,"Athens, GA",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,0.0,1.0,0.0,1.0,NaN,NaN,NaN,30-12-2022

In [9]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 88889 entries, 0 to 88888
Data columns (total 31 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Event.Id                88889 non-null  object
 1   Investigation.Type      88889 non-null  object
 2   Accident.Number         88889 non-null  object
 3   Event.Date              88889 non-null  object
 4   Location                88837 non-null  object
 5   Country                 88663 non-null  object
 6   Latitude                34382 non-null  object
 7   Longitude               34373 non-null  object
 8   Airport.Code            50249 non-null  object
 9   Airport.Name            52790 non-null  object
 10  Injury.Severity         87889 non-null  object
 11  Aircraft.damage         85695 non-null  object
 12  Aircraft.Category       32287 non-null  object
 13  Registration.Number     87572 non-null  object
 14  Make                    88826 non-null  object
 15  Model                   88797 non-null  object
 16  Amateur.Built           88787 non-null  object
 17  Number.of.Engines       82805 non-null  float64
 18  Engine.Type             81812 non-null  object
 19  FAR.Description         32023 non-null  object
 20  Schedule                12582 non-null  object
 21  Purpose.of.flight       82697 non-null  object
 22  Air.carrier             16648 non-null  object
 23  Total.Fatal.Injuries    77488 non-null  float64
 24  Total.Serious.Injuries  76379 non-null  float64
 25  Total.Minor.Injuries    76956 non-null  float64
 26  Total.Uninjured         82977 non-null  float64
 27  Weather.Condition       84397 non-null  object
 28  Broad.phase.of.flight   61724 non-null  object
 29  Report.Status           82508 non-null  object
 30  Publication.Date        75118 non-null  object
dtypes: float64(5), object(26)
memory usage: 21.0+ MB

In [10]:
data.isnull().sum()

Event.Id                      0
Investigation.Type            0
Accident.Number               0
Event.Date                    0
Location                     52
Country                     226
Latitude                  54507
Longitude                 54516
Airport.Code              38640
Airport.Name              36099
Injury.Severity            1000
Aircraft.damage            3194
Aircraft.Category         56602
Registration.Number        1317
Make                         63
Model                        92
Amateur.Built               102
Number.of.Engines          6084
Engine.Type                7077
FAR.Description           56866
Schedule                  76307
Purpose.of.flight          6192
Air.carrier               72241
Total.Fatal.Injuries      11401
Total.Serious.Injuries    12510
Total.Minor.Injuries      11933
Total.Uninjured            5912
Weather.Condition          4492
Broad.phase.of.flight     27165
Report.Status              6381
Publication.Date          13771
dtype: int64

In [11]:
#here date is in the form of obj as we change it into datetime format and classify the data with yearly, monthly and daily basis
#quartely basis same as yearly and monthly here daily option is added.
data['Event.Date']=pd.to_datetime(data['Event.Date'])
data['Year']=data['Event.Date'].dt.year
data['Month']=data['Event.Date'].dt.month_name()
data['Day']=data['Event.Date'].dt.day_name()

In [12]:
yearly=data.groupby('Year')['Accident.Number'].count().reset_index()
monthly=data.groupby('Month')['Accident.Number'].count().reset_index()
day=data.groupby('Day')['Accident.Number'].count().reset_index()

In [13]:
print(yearly)

    Year  Accident.Number
0   1948                1
1   1962                1
2   1974                1
3   1977                1
4   1979                2
5   1981                1
6   1982             3593
7   1983             3556
8   1984             3457
9   1985             3096
10  1986             2880
11  1987             2828
12  1988             2730
13  1989             2544
14  1990             2518
15  1991             2462
16  1992             2355
17  1993             2313
18  1994             2257
19  1995             2309
20  1996             2187
21  1997             2148
22  1998             2226
23  1999             2209
24  2000             2220
25  2001             2063
26  2002             2020
27  2003             2085
28  2004             1952
29  2005             2031
30  2006             1851
31  2007             2016
32  2008             1893
33  2009             1783
34  2010             1786
35  2011             1850
36  2012             1835
37  2013             1561
38  2014             1535
39  2015             1582
40  2016             1664
41  2017             1638
42  2018             1681
43  2019             1624
44  2020             1392
45  2021             1545
46  2022             1607

In [14]:
print(monthly)

        Month  Accident.Number
0       April             7248
1      August             9986
2    December             5060
3    February             5285
4     January             4985
5        July            10698
6        June             9561
7       March             6686
8         May             8514
9    November             5538
10    October             6982
11  September             8346

In [15]:
print(day)

         Day  Accident.Number
0     Friday            12946
1     Monday            10735
2   Saturday            16673
3     Sunday            15241
4   Thursday            11501
5    Tuesday            10545
6  Wednesday            11248

In [16]:
#replacing the values and filling the null values
data['Weather.Condition']=data['Weather.Condition'].replace('Unk','UNK')
data['Weather.Condition'].fillna('UNK',inplace=True)
data['Weather.Condition']=data['Weather.Condition'].replace('UNK','Unknown')

In [17]:
data['Weather.Condition']

0        Unknown
1        Unknown
2            IMC
3            IMC
4            VMC
          ...
88884    Unknown
88885    Unknown
88886        VMC
88887    Unknown
88888    Unknown
Name: Weather.Condition, Length: 88889, dtype: object

In [18]:
##replacing the values and filling the null values
data['Injury.Severity']=data['Injury.Severity'].str.split('(').str[0]
data['Injury.Severity'] = data['Injury.Severity'].str.replace('Siruose','Serious')
data['Injury.Severity'] = data['Injury.Severity'].str.replace('Unavailable','Unknown')

In [19]:
data[['Injury.Severity','Total.Fatal.Injuries','Total.Serious.Injuries','Total.Minor.Injuries','Total.Uninjured']]

,Injury.Severity,Total.Fatal.Injuries,Total.Serious.Injuries,Total.Minor.Injuries,Total.Uninjured
0,Fatal,2.0,0.0,0.0,0.0
1,Fatal,4.0,0.0,0.0,0.0
2,Fatal,3.0,NaN,NaN,NaN
3,Fatal,2.0,0.0,0.0,0.0
4,Fatal,1.0,2.0,NaN,0.0
...,...,...,...,...,...
88884,Minor,0.0,1.0,0.0,0.0
88885,NaN,0.0,0.0,0.0,0.0
88886,Non-Fatal,0.0,0.0,0.0,1.0
88887,NaN,0.0,0.0,0.0,0.0
88888,Minor,0.0,1.0,0.0,1.0

In [20]:
data['Broad.phase.of.flight'].unique()

array(['Cruise', 'Unknown', 'Approach', 'Climb', 'Takeoff', 'Landing',
       'Taxi', 'Descent', 'Maneuvering', 'Standing', 'Go-around', 'Other',
       nan], dtype=object)

In [21]:
data.columns

Index(['Event.Id', 'Investigation.Type', 'Accident.Number', 'Event.Date',
       'Location', 'Country', 'Latitude', 'Longitude', 'Airport.Code',
       'Airport.Name', 'Injury.Severity', 'Aircraft.damage',
       'Aircraft.Category', 'Registration.Number', 'Make', 'Model',
       'Amateur.Built', 'Number.of.Engines', 'Engine.Type', 'FAR.Description',
       'Schedule', 'Purpose.of.flight', 'Air.carrier', 'Total.Fatal.Injuries',
       'Total.Serious.Injuries', 'Total.Minor.Injuries', 'Total.Uninjured',
       'Weather.Condition', 'Broad.phase.of.flight', 'Report.Status',
       'Publication.Date', 'Year', 'Month', 'Day'],
      dtype='object')

In [22]:
columns=['Event.Id' ,'Accident.Number', 'Airport.Code', 'Airport.Name', 'Registration.Number', 
           'Air.carrier', 'Schedule', 'FAR.Description', 'Report.Status', 'Publication.Date', 'Purpose.of.flight']

In [23]:
#dropped the unnecessary columns
data1=data.drop(columns,axis=1)
data1.head(5)

,Investigation.Type,Event.Date,Location,Country,Latitude,Longitude,Injury.Severity,Aircraft.damage,Aircraft.Category,Make,...,Engine.Type,Total.Fatal.Injuries,Total.Serious.Injuries,Total.Minor.Injuries,Total.Uninjured,Weather.Condition,Broad.phase.of.flight,Year,Month,Day
0,Accident,1948-10-24,"MOOSE CREEK, ID",United States,NaN,NaN,Fatal,Destroyed,NaN,Stinson,...,Reciprocating,2.0,0.0,0.0,0.0,Unknown,Cruise,1948,October,Sunday
1,Accident,1962-07-19,"BRIDGEPORT, CA",United States,NaN,NaN,Fatal,Destroyed,NaN,Piper,...,Reciprocating,4.0,0.0,0.0,0.0,Unknown,Unknown,1962,July,Thursday
2,Accident,1974-08-30,"Saltville, VA",United States,36.922223,-81.878056,Fatal,Destroyed,NaN,Cessna,...,Reciprocating,3.0,NaN,NaN,NaN,IMC,Cruise,1974,August,Friday
3,Accident,1977-06-19,"EUREKA, CA",United States,NaN,NaN,Fatal,Destroyed,NaN,Rockwell,...,Reciprocating,2.0,0.0,0.0,0.0,IMC,Cruise,1977,June,Sunday
4,Accident,1979-08-02,"Canton, OH",United States,NaN,NaN,Fatal,Destroyed,NaN,Cessna,...,NaN,1.0,2.0,NaN,0.0,VMC,Approach,1979,August,Thursday

In [24]:
data1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 88889 entries, 0 to 88888
Data columns (total 23 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Investigation.Type      88889 non-null  object
 1   Event.Date              88889 non-null  datetime64[ns]
 2   Location                88837 non-null  object
 3   Country                 88663 non-null  object
 4   Latitude                34382 non-null  object
 5   Longitude               34373 non-null  object
 6   Injury.Severity         87889 non-null  object
 7   Aircraft.damage         85695 non-null  object
 8   Aircraft.Category       32287 non-null  object
 9   Make                    88826 non-null  object
 10  Model                   88797 non-null  object
 11  Amateur.Built           88787 non-null  object
 12  Number.of.Engines       82805 non-null  float64
 13  Engine.Type             81812 non-null  object
 14  Total.Fatal.Injuries    77488 non-null  float64
 15  Total.Serious.Injuries  76379 non-null  float64
 16  Total.Minor.Injuries    76956 non-null  float64
 17  Total.Uninjured         82977 non-null  float64
 18  Weather.Condition       88889 non-null  object
 19  Broad.phase.of.flight   61724 non-null  object
 20  Year                    88889 non-null  int64
 21  Month                   88889 non-null  object
 22  Day                     88889 non-null  object
dtypes: datetime64[ns](1), float64(5), int64(1), object(16)
memory usage: 15.6+ MB

In [25]:
#split divides the category of Injury severity in dataset
data1['Injury.Severity']=data1['Injury.Severity'].str.split('(').str[0]

In [26]:
data1['Year'] = data1['Event.Date'].dt.year
data1['Month'] = data1['Event.Date'].dt.month
data1['Day'] =data1['Event.Date'].dt.day

In [27]:
data2 =data1.drop(['Location','Injury.Severity'],axis=1)

In [28]:
data2.head()

,Investigation.Type,Event.Date,Country,Latitude,Longitude,Aircraft.damage,Aircraft.Category,Make,Model,Amateur.Built,...,Engine.Type,Total.Fatal.Injuries,Total.Serious.Injuries,Total.Minor.Injuries,Total.Uninjured,Weather.Condition,Broad.phase.of.flight,Year,Month,Day
0,Accident,1948-10-24,United States,NaN,NaN,Destroyed,NaN,Stinson,108-3,No,...,Reciprocating,2.0,0.0,0.0,0.0,Unknown,Cruise,1948,10,24
1,Accident,1962-07-19,United States,NaN,NaN,Destroyed,NaN,Piper,PA24-180,No,...,Reciprocating,4.0,0.0,0.0,0.0,Unknown,Unknown,1962,7,19
2,Accident,1974-08-30,United States,36.922223,-81.878056,Destroyed,NaN,Cessna,172M,No,...,Reciprocating,3.0,NaN,NaN,NaN,IMC,Cruise,1974,8,30
3,Accident,1977-06-19,United States,NaN,NaN,Destroyed,NaN,Rockwell,112,No,...,Reciprocating,2.0,0.0,0.0,0.0,IMC,Cruise,1977,6,19
4,Accident,1979-08-02,United States,NaN,NaN,Destroyed,NaN,Cessna,501,No,...,NaN,1.0,2.0,NaN,0.0,VMC,Approach,1979,8,2

In [29]:
data2.shape

(88889, 21)

In [30]:
data1.shape

(88889, 23)

In [31]:
#missing values
nan=data2.isnull().sum()
nan[nan>0].sort_values(ascending=False)

Aircraft.Category         56602
Longitude                 54516
Latitude                  54507
Broad.phase.of.flight     27165
Total.Serious.Injuries    12510
Total.Minor.Injuries      11933
Total.Fatal.Injuries      11401
Engine.Type                7077
Number.of.Engines          6084
Total.Uninjured            5912
Aircraft.damage            3194
Country                     226
Amateur.Built               102
Model                        92
Make                         63
dtype: int64

In [32]:
data.dtypes

Event.Id                          object
Investigation.Type                object
Accident.Number                   object
Event.Date                datetime64[ns]
Location                          object
Country                           object
Latitude                          object
Longitude                         object
Airport.Code                      object
Airport.Name                      object
Injury.Severity                   object
Aircraft.damage                   object
Aircraft.Category                 object
Registration.Number               object
Make                              object
Model                             object
Amateur.Built                     object
Number.of.Engines                float64
Engine.Type                       object
FAR.Description                   object
Schedule                          object
Purpose.of.flight                 object
Air.carrier                       object
Total.Fatal.Injuries             float64
Total.Serious.Injuries           float64
Total.Minor.Injuries             float64
Total.Uninjured                  float64
Weather.Condition                 object
Broad.phase.of.flight             object
Report.Status                     object
Publication.Date                  object
Year                               int64
Month                             object
Day                               object
dtype: object

In [33]:
# //data2['Longitude'].fillna(data2['Longitude'].mean(), inplace=True)
import re
#re module provides support for regular expressions 

# Assuming the 'my_column' column is the string column to be converted to float
numeric_values = data2['Longitude'].str.extract(r'(\d+\.?\d*)', expand=False)
data2['Longitude'] = numeric_values.astype(float)
numeric_values = data2['Latitude'].str.extract(r'(\d+\.?\d*)', expand=False)
data2['Latitude'] = numeric_values.astype(float)

In [34]:
data2.dtypes

Investigation.Type                object
Event.Date                datetime64[ns]
Country                           object
Latitude                         float64
Longitude                        float64
Aircraft.damage                   object
Aircraft.Category                 object
Make                              object
Model                             object
Amateur.Built                     object
Number.of.Engines                float64
Engine.Type                       object
Total.Fatal.Injuries             float64
Total.Serious.Injuries           float64
Total.Minor.Injuries             float64
Total.Uninjured                  float64
Weather.Condition                 object
Broad.phase.of.flight             object
Year                               int64
Month                              int64
Day                                int64
dtype: object

In [35]:
#for missing values we replace them with mean
data2['Latitude'].fillna(data2['Latitude'].mean(), inplace=True)
data2['Total.Uninjured'].fillna(data2['Total.Uninjured'].mean(), inplace=True)
data2['Total.Minor.Injuries'].fillna(data2['Total.Minor.Injuries'].mean(), inplace=True)
data2['Total.Serious.Injuries'].fillna(data2['Total.Serious.Injuries'].mean(), inplace=True)
data2['Total.Fatal.Injuries'].fillna(data2['Total.Fatal.Injuries'].mean(), inplace=True)
data2['Number.of.Engines'].fillna(data2['Number.of.Engines'].mean(), inplace=True)

In [36]:
#dtypes object missing values are filled with unknown
categorical_columns = data2.select_dtypes(include=['object']).columns
data2[categorical_columns] = data2[categorical_columns].fillna("unknown")
data = data2.fillna("Unknown")
data2.head(10)

,Investigation.Type,Event.Date,Country,Latitude,Longitude,Aircraft.damage,Aircraft.Category,Make,Model,Amateur.Built,...,Engine.Type,Total.Fatal.Injuries,Total.Serious.Injuries,Total.Minor.Injuries,Total.Uninjured,Weather.Condition,Broad.phase.of.flight,Year,Month,Day
0,Accident,1948-10-24,United States,175147.209962,NaN,Destroyed,unknown,Stinson,108-3,No,...,Reciprocating,2.000000,0.000000,0.000000,0.00000,Unknown,Cruise,1948,10,24
1,Accident,1962-07-19,United States,175147.209962,NaN,Destroyed,unknown,Piper,PA24-180,No,...,Reciprocating,4.000000,0.000000,0.000000,0.00000,Unknown,Unknown,1962,7,19
2,Accident,1974-08-30,United States,175147.209962,NaN,Destroyed,unknown,Cessna,172M,No,...,Reciprocating,3.000000,0.279881,0.357061,5.32544,IMC,Cruise,1974,8,30
3,Accident,1977-06-19,United States,175147.209962,NaN,Destroyed,unknown,Rockwell,112,No,...,Reciprocating,2.000000,0.000000,0.000000,0.00000,IMC,Cruise,1977,6,19
4,Accident,1979-08-02,United States,175147.209962,NaN,Destroyed,unknown,Cessna,501,No,...,unknown,1.000000,2.000000,0.357061,0.00000,VMC,Approach,1979,8,2
5,Accident,1979-09-17,United States,175147.209962,NaN,Substantial,Airplane,Mcdonnell Douglas,DC9,No,...,Turbo Fan,0.647855,0.279881,1.000000,44.00000,VMC,Climb,1979,9,17
6,Accident,1981-08-01,United States,175147.209962,NaN,Destroyed,unknown,Cessna,180,No,...,Reciprocating,4.000000,0.000000,0.000000,0.00000,IMC,Unknown,1981,8,1
7,Accident,1982-01-01,United States,175147.209962,NaN,Substantial,Airplane,Cessna,140,No,...,Reciprocating,0.000000,0.000000,0.000000,2.00000,VMC,Takeoff,1982,1,1
8,Accident,1982-01-01,United States,175147.209962,NaN,Substantial,Airplane,Cessna,401B,No,...,Reciprocating,0.000000,0.000000,0.000000,2.00000,IMC,Landing,1982,1,1
9,Accident,1982-01-01,United States,175147.209962,NaN,Substantial,unknown,North American,NAVION L-17B,No,...,Reciprocating,0.000000,0.000000,3.000000,0.00000,IMC,Cruise,1982,1,1

In [37]:
nan=data2.isnull().sum()
nan[nan>0].sort_values(ascending=False)

Longitude    54525
dtype: int64

In [38]:
#longitude remains so fillning the mean values
data2['Longitude'].fillna(data2['Longitude'].mean(), inplace=True)

In [39]:
nan=data2.isnull().sum()
nan[nan>0].sort_values(ascending=False)

Series([], dtype: int64)

In [40]:
#Adding column uninjured as such we can calculate the ratio with other injurie cases
data2['Ratio.uninjured'] = data2['Total.Uninjured']/(data2['Total.Uninjured']
                                                             +data2['Total.Serious.Injuries']
                                                             +data2['Total.Minor.Injuries']
                                                              +data2['Total.Fatal.Injuries'])

In [41]:
data2['Ratio.uninjured'].describe()

count    87806.000000
mean         0.584732
std          0.442940
min          0.000000
25%          0.000000
50%          0.734222
75%          1.000000
max          1.000000
Name: Ratio.uninjured, dtype: float64

In [42]:
data2[['Total.Fatal.Injuries','Total.Serious.Injuries','Total.Minor.Injuries','Total.Uninjured','Ratio.uninjured']].head(10)

,Total.Fatal.Injuries,Total.Serious.Injuries,Total.Minor.Injuries,Total.Uninjured,Ratio.uninjured
0,2.000000,0.000000,0.000000,0.00000,0.000000
1,4.000000,0.000000,0.000000,0.00000,0.000000
2,3.000000,0.279881,0.357061,5.32544,0.594199
3,2.000000,0.000000,0.000000,0.00000,0.000000
4,1.000000,2.000000,0.357061,0.00000,0.000000
5,0.647855,0.279881,1.000000,44.00000,0.958027
6,4.000000,0.000000,0.000000,0.00000,0.000000
7,0.000000,0.000000,0.000000,2.00000,1.000000
8,0.000000,0.000000,0.000000,2.00000,1.000000
9,0.000000,0.000000,3.000000,0.00000,0.000000

In [43]:
nan=data2.isnull().sum()
nan[nan>0].sort_values(ascending=False)

Ratio.uninjured    1083
dtype: int64

In [44]:
#we can see that there are still some missing values in ratio.uninjured so filling those values
data2['Ratio.uninjured'].fillna(data2['Ratio.uninjured'].mean(), inplace=True)

In [45]:
nan=data2.isnull().sum()
nan[nan>0].sort_values(ascending=False)

Series([], dtype: int64)

In [46]:
data.columns

Index(['Investigation.Type', 'Event.Date', 'Country', 'Latitude', 'Longitude',
       'Aircraft.damage', 'Aircraft.Category', 'Make', 'Model',
       'Amateur.Built', 'Number.of.Engines', 'Engine.Type',
       'Total.Fatal.Injuries', 'Total.Serious.Injuries',
       'Total.Minor.Injuries', 'Total.Uninjured', 'Weather.Condition',
       'Broad.phase.of.flight', 'Year', 'Month', 'Day'],
      dtype='object')

In [47]:
data.shape[1]

21

In [48]:
accidents = data['Country'].groupby(data['Country']).count().sort_values(ascending=False)
accidents

Country
United States                    82248
Brazil                             374
Canada                             359
Mexico                             358
United Kingdom                     344
                                 ...
Nauru                                1
Gibraltar                            1
St Lucia                             1
St Vincent And The Grenadines        1
Libya                                1
Name: Country, Length: 220, dtype: int64

In [49]:
#injurie and ftalities around the world 
data_State = pd.DataFrame(data['Total.Fatal.Injuries']+data['Total.Serious.Injuries']+data['Total.Minor.Injuries'])
data_State = data_State.rename(columns={0:"Injuries/Fatalities"})
data_merged = pd.concat([data,data_State], axis=1)
data_merged.sample(50)

,Investigation.Type,Event.Date,Country,Latitude,Longitude,Aircraft.damage,Aircraft.Category,Make,Model,Amateur.Built,...,Total.Fatal.Injuries,Total.Serious.Injuries,Total.Minor.Injuries,Total.Uninjured,Weather.Condition,Broad.phase.of.flight,Year,Month,Day,Injuries/Fatalities
40067,Accident,1996-07-13,Italy,175147.209962,Unknown,Destroyed,unknown,Piper,PA-30,No,...,2.000000,0.000000,0.000000,0.00000,Unknown,unknown,1996,7,13,2.000000
51572,Accident,2001-10-03,United States,32.891111,97.035833,Substantial,unknown,Fokker,F28 Mk 0100,No,...,0.647855,0.279881,0.357061,86.00000,VMC,Approach,2001,10,3,1.284797
28128,Accident,1991-06-02,United States,175147.209962,Unknown,Destroyed,unknown,Bellanca,7FC,No,...,0.000000,1.000000,1.000000,0.00000,VMC,Cruise,1991,6,2,2.000000
28303,Accident,1991-06-22,United States,175147.209962,Unknown,Substantial,unknown,Piper,PA-28R-200,No,...,0.000000,0.000000,0.000000,2.00000,VMC,Landing,1991,6,22,0.000000
19451,Accident,1988-01-09,United States,175147.209962,Unknown,Substantial,unknown,Raven,RX-7,No,...,0.000000,0.000000,0.000000,2.00000,VMC,Landing,1988,1,9,0.000000
57685,Accident,2004-10-19,Tanzania,3.881667,36.426667,Substantial,unknown,Cessna,208B,No,...,0.647855,0.279881,0.357061,10.00000,VMC,unknown,2004,10,19,1.284797
33893,Accident,1993-09-27,United States,175147.209962,Unknown,Substantial,unknown,Cessna,177B,No,...,0.000000,0.000000,0.000000,4.00000,VMC,Cruise,1993,9,27,0.000000
20221,Accident,1988-05-06,United States,175147.209962,Unknown,Substantial,unknown,Cessna,172M,No,...,0.000000,0.000000,0.000000,2.00000,VMC,Approach,1988,5,6,0.000000
50557,Accident,2001-05-14,United States,175147.209962,Unknown,Destroyed,unknown,Air Tractor,AT-602,No,...,0.647855,0.279881,0.357061,1.00000,VMC,Takeoff,2001,5,14,1.284797
2400,Accident,1982-08-16,United States,175147.209962,Unknown,Substantial,Airplane,Cessna,T210L,No,...,0.000000,0.000000,0.000000,1.00000,VMC,Takeoff,1982,8,16,0.000000
7739,Accident,1984-03-17,United States,175147.209962,Unknown,Substantial,unknown,Cessna,180H,No,...,0.000000,0.000000,1.000000,0.00000,VMC,Landing,1984,3,17,1.000000
80398,Accident,2017-08-03,United States,261731.000000,81644.0,Substantial,Glider,PIPISTREL DOO AJDOVSCINA,VIRUS SW,No,...,0.000000,1.000000,1.000000,0.00000,VMC,unknown,2017,8,3,2.000000
25939,Accident,1990-07-02,United States,175147.209962,Unknown,Substantial,unknown,Cessna,337,No,...,0.000000,0.000000,2.000000,0.00000,VMC,Cruise,1990,7,2,2.000000
61346,Accident,2006-09-02,United States,38.957778,Unknown,Substantial,Airplane,Piper,PA-28-140,No,...,0.647855,0.279881,3.000000,5.32544,VMC,Takeoff,2006,9,2,3.927736
29602,Accident,1991-12-13,United States,175147.209962,Unknown,Substantial,unknown,Aero Commander,690A,No,...,0.000000,0.000000,0.000000,8.00000,VMC,Landing,1991,12,13,0.000000
18418,Accident,1987-08-15,United States,175147.209962,Unknown,Substantial,unknown,Beech,35-33,No,...,0.000000,0.000000,0.000000,3.00000,VMC,Landing,1987,8,15,0.000000
39997,Accident,1996-07-05,United States,175147.209962,Unknown,unknown,unknown,Raven,S55A,No,...,0.000000,1.000000,0.000000,2.00000,VMC,Cruise,1996,7,5,1.000000
12913,Accident,1985-09-06,United States,175147.209962,Unknown,Substantial,unknown,Cessna,172P,No,...,0.000000,0.000000,0.000000,4.00000,VMC,Landing,1985,9,6,0.000000
33764,Accident,1993-09-10,United States,175147.209962,Unknown,Substantial,unknown,Cessna,177RG,No,...,0.000000,0.000000,0.000000,1.00000,VMC,Maneuvering,1993,9,10,0.000000
1428,Accident,1982-06-02,United States,175147.209962,Unknown,Destroyed,Airplane,Aeronca,7AC,No,...,1.000000,0.000000,1.000000,0.00000,VMC,Takeoff,1982,6,2,2.000000
81572,Accident,2018-05-18,United States,40255.000000,1205851.0,Substantial,Airplane,CESSNA,182D,No,...,0.000000,0.000000,0.000000,2.00000,VMC,unknown,2018,5,18,0.000000
20873,Accident,1988-07-16,United States,175147.209962,Unknown,Substantial,unknown,Silliman,HATZ CB-1,Yes,...,0.000000,0.000000,0.000000,1.00000,VMC,Cruise,1988,7,16,0.000000
24321,Accident,1989-10-22,United States,175147.209962,Unknown,Substantial,unknown,Beech,A36,No,...,0.000000,0.000000,0.000000,1.00000,VMC,Taxi,1989,10,22,0.000000
35012,Accident,1994-05-08,United States,175147.209962,Unknown,Substantial,unknown,Cessna,195,No,...,0.000000,0.000000,0.000000,1.00000,VMC,Approach,1994,5,8,0.000000
84414,Incident,2020-01-23,Panama,175147.209962,Unknown,unknown,Airplane,Airbus,A319,No,...,0.000000,0.000000,0.000000,112.00000,Unknown,unknown,2020,1,23,0.000000
61360,Incident,2006-09-03,Qatar,175147.209962,Unknown,Minor,unknown,Boeing,B737-300,No,...,0.647855,0.279881,0.357061,2.00000,VMC,unknown,2006,9,3,1.284797
21211,Incident,1988-08-18,United States,175147.209962,Unknown,Minor,unknown,Bellanca,8KCAB,No,...,0.000000,0.000000,0.000000,2.00000,VMC,Cruise,1988,8,18,0.000000
21284,Accident,1988-08-25,United States,175147.209962,Unknown,Substantial,unknown,Cessna,195,No,...,0.000000,0.000000,1.000000,1.00000,VMC,Landing,1988,8,25,1.000000
30435,Accident,1992-05-22,United States,175147.209962,Unknown,Destroyed,unknown,Cessna,172N,No,...,0.000000,1.000000,1.000000,0.00000,VMC,Approach,1992,5,22,2.000000
30372,Accident,1992-05-13,United States,175147.209962,Unknown,Minor,unknown,Air Tractor,AT-402,No,...,0.000000,0.000000,0.000000,2.00000,VMC,Standing,1992,5,13,0.000000
9215,Accident,1984-07-30,United States,175147.209962,Unknown,Destroyed,unknown,Cessna,A188,No,...,0.000000,0.000000,1.000000,0.00000,VMC,Maneuvering,1984,7,30,1.000000
19755,Accident,1988-02-27,United States,175147.209962,Unknown,Substantial,unknown,Cessna,150J,No,...,1.000000,0.000000,0.000000,2.00000,VMC,Approach,1988,2,27,1.000000
9445,Accident,1984-08-18,United States,175147.209962,Unknown,Substantial,unknown,Cessna,310Q,No,...,0.000000,0.000000,0.000000,1.00000,VMC,Takeoff,1984,8,18,0.000000
31260,Accident,1992-08-23,United States,175147.209962,Unknown,Substantial,unknown,Piper,PA-22-160,No,...,0.000000,0.000000,0.000000,1.00000,VMC,Takeoff,1992,8,23,0.000000
55682,Accident,2003-10-12,United States,38.930834,76.000833,Destroyed,unknown,Extra Flugzeugbau,EA-300L,No,...,1.000000,0.279881,0.357061,5.32544,VMC,Maneuvering,2003,10,12,1.636942
49260,Accident,2000-09-02,United States,175147.209962,Unknown,Substantial,unknown,Mihlebach,WACO,Yes,...,0.000000,0.000000,0.000000,2.00000,VMC,Landing,2000,9,2,0.000000
51257,Accident,2001-08-10,United States,30.533056,91.149444,Substantial,unknown,Donald A Chiasson,FP-404,Yes,...,0.647855,0.279881,0.357061,1.00000,VMC,Landing,2001,8,10,1.284797
64932,Accident,2008-07-15,United States,361438.000000,921425.0,Destroyed,Helicopter,HUGHES,269B,No,...,2.000000,0.000000,0.000000,0.00000,VMC,unknown,2008,7,15,2.000000
18835,Accident,1987-10-01,United States,175147.209962,Unknown,Substantial,unknown,Piper,PA-18-125,No,...,1.000000,1.000000,0.000000,0.00000,VMC,Maneuvering,1987,10,1,2.000000
48859,Accident,2000-07-15,United States,175147.209962,Unknown,Destroyed,unknown,Beech,35,No,...,1.000000,0.000000,0.000000,0.00000,VMC,Maneuvering,2000,7,15,1.000000
82997,Accident,2019-03-30,United States,47412.000000,124711.0,Destroyed,Airplane,Piper,PA18,No,...,0.000000,0.000000,0.000000,1.00000,VMC,unknown,2019,3,30,0.000000
18263,Accident,1987-07-30,United States,175147.209962,Unknown,Substantial,unknown,Schweizer,G-164A,No,...,0.000000,0.000000,0.000000,1.00000,VMC,Climb,1987,7,30,0.000000
73817,Incident,2013-06-30,United States,40476.000000,735917.0,Minor,Helicopter,BELL HELICOPTER TEXTRON CANADA,206,No,...,0.000000,0.000000,0.000000,5.00000,VMC,unknown,2013,6,30,0.000000
747,Accident,1982-04-03,United States,175147.209962,Unknown,Destroyed,Airplane,Beech,A36,No,...,2.000000,0.000000,0.000000,0.00000,IMC,Cruise,1982,4,3,2.000000
5708,Accident,1983-08-03,United States,175147.209962,Unknown,Substantial,unknown,Grumman,AMERICAN AA-5A,No,...,0.000000,0.000000,0.000000,1.00000,VMC,Takeoff,1983,8,3,0.000000
45593,Accident,1999-02-05,United States,175147.209962,Unknown,Substantial,unknown,Stern,ROTORWAY EXEC 162F,Yes,...,0.000000,0.000000,1.000000,0.00000,VMC,Maneuvering,1999,2,5,1.000000
19514,Accident,1988-01-19,United States,175147.209962,Unknown,Destroyed,unknown,Fairchild,SA-227AC,No,...,9.000000,1.000000,6.000000,1.00000,IMC,Approach,1988,1,19,16.000000
63521,Accident,2007-10-07,United States,45.685833,104.750278,Substantial,unknown,Cessna,310N,No,...,2.000000,0.279881,0.357061,5.32544,VMC,Cruise,2007,10,7,2.636942
61750,Accident,2006-11-25,United States,36.436944,79.858333,Substantial,Airplane,Cessna,172N,No,...,0.647855,0.279881,0.357061,1.00000,VMC,Landing,2006,11,25,1.284797
88880,Accident,2022-12-18,United States,175147.209962,Unknown,unknown,unknown,PIPER,PA28,No,...,0.000000,0.000000,0.000000,3.00000,Unknown,unknown,2022,12,18,0.000000

In [50]:
data2.dtypes

Investigation.Type                object
Event.Date                datetime64[ns]
Country                           object
Latitude                         float64
Longitude                        float64
Aircraft.damage                   object
Aircraft.Category                 object
Make                              object
Model                             object
Amateur.Built                     object
Number.of.Engines                float64
Engine.Type                       object
Total.Fatal.Injuries             float64
Total.Serious.Injuries           float64
Total.Minor.Injuries             float64
Total.Uninjured                  float64
Weather.Condition                 object
Broad.phase.of.flight             object
Year                               int64
Month                              int64
Day                                int64
Ratio.uninjured                  float64
dtype: object

In [51]:
data.head()

,Investigation.Type,Event.Date,Country,Latitude,Longitude,Aircraft.damage,Aircraft.Category,Make,Model,Amateur.Built,...,Engine.Type,Total.Fatal.Injuries,Total.Serious.Injuries,Total.Minor.Injuries,Total.Uninjured,Weather.Condition,Broad.phase.of.flight,Year,Month,Day
0,Accident,1948-10-24,United States,175147.209962,Unknown,Destroyed,unknown,Stinson,108-3,No,...,Reciprocating,2.0,0.000000,0.000000,0.00000,Unknown,Cruise,1948,10,24
1,Accident,1962-07-19,United States,175147.209962,Unknown,Destroyed,unknown,Piper,PA24-180,No,...,Reciprocating,4.0,0.000000,0.000000,0.00000,Unknown,Unknown,1962,7,19
2,Accident,1974-08-30,United States,175147.209962,Unknown,Destroyed,unknown,Cessna,172M,No,...,Reciprocating,3.0,0.279881,0.357061,5.32544,IMC,Cruise,1974,8,30
3,Accident,1977-06-19,United States,175147.209962,Unknown,Destroyed,unknown,Rockwell,112,No,...,Reciprocating,2.0,0.000000,0.000000,0.00000,IMC,Cruise,1977,6,19
4,Accident,1979-08-02,United States,175147.209962,Unknown,Destroyed,unknown,Cessna,501,No,...,unknown,1.0,2.000000,0.357061,0.00000,VMC,Approach,1979,8,2

In [52]:
#here we genrate the csv film from the fial dataset
data2.to_csv('C:\\Data Science\\Data Sets\\output.csv', index=False)

In [53]:
import mysql.connector

mydb = mysql.connector.connect(
  host="127.0.0.1",
  port="3306",
  user="root",
  password="root",
  database="project_schema"
)

In [55]:
from sqlalchemy import create_engine
import sqlalchemy

# python approach

In [57]:
# set up database connection
engine = create_engine("mysql+mysqlconnector://root:root@127.0.0.1:3306/project_schema")

# insert data into table
with engine.connect() as conn:
    data2.to_sql('accident', con=conn, if_exists='replace', index=False)

# create another table and import

In [58]:
# create engine to connect to MySQL database
engine = sqlalchemy.create_engine('mysql+mysqlconnector://root:root@127.0.0.1:3306/project_schema')

# create connection object
connection = engine.connect()

# create new table
connection.execute('CREATE TABLE new_paccident_data LIKE accident')

# insert data from the previous table into the new table
connection.execute('INSERT INTO new_paccident_data SELECT * FROM accident')

# close the connection
connection.close()

# sql  approach

In [60]:
mycursor =mydb.cursor()
mycursor.execute('CREATE TABLE sqlflightaccident ( `Investigation.Type` VARCHAR(255),`Event.Date` DATE,`Country` VARCHAR(255), `Latitude` FLOAT, `Longitude` FLOAT,`Aircraft.damage` VARCHAR(255),`Aircraft.Category` VARCHAR(255),`Make` VARCHAR(255), `Model` VARCHAR(255), `Amateur.Built` VARCHAR(255),`Number.of.Engines` FLOAT,`Engine.Type` VARCHAR(255), `Total.Fatal.Injuries` FLOAT,`Total.Serious.Injuries` FLOAT,`Total.Minor.Injuries` FLOAT,`Total.Uninjured` FLOAT,`Weather.Condition` VARCHAR(255),`Broad.phase.of.flight` VARCHAR(255), `Year` INT,`Month` INT,`Day` INT,`Ratio.uninjured` FLOAT)')